name: lint-commits

on: workflow_call

jobs:
  lint-commits:
    timeout-minutes: 5

    runs-on: ubuntu-24.04

    steps:
      - uses: actions/checkout@v6.0.1

      - uses: ahmadnassri/action-commit-lint@v2.1.17
        with:
          config: .github/linters/.commit-lint.yml
