name: npm-publish

on:
  workflow_call:
    secrets:
      TOKEN_1PASSWORD:
        description: 1Password service account token
        required: true

    inputs:
      version:
        description: release version
        required: true
        default: latest
        type: string

      registry:
        description: registry url
        required: true
        default: https://registry.npmjs.org
        type: string

      name:
        description: package name
        required: true
        type: string

jobs:
  npm-publish:
    timeout-minutes: 5

    runs-on: ubuntu-24.04

    name: publish to ${{ inputs.registry }}

    steps:
      - uses: actions/checkout@v4.2.2
        with:
          submodules: true

      - uses: 1password/load-secrets-action@v3
        id: secrets
        with:
          export-env: false
        env:
          OP_SERVICE_ACCOUNT_TOKEN: ${{ secrets.TOKEN_1PASSWORD }}
          TOKEN_GITHUB: op://Tokens/GitHub/credential # GitHub Packages only supports authentication using a personal access token (classic)
          TOKEN_NPM: op://Tokens/NPM/accounts/${{ github.repository_owner }}

      - uses: actions/setup-node@v4.4.0
        with:
          node-version: latest
          registry-url: ${{ inputs.registry }}

      - name: publish to ${{ inputs.registry }}
        env:
          NODE_AUTH_TOKEN: ${{ steps.secrets.outputs[contains('github.com', inputs.registry) && 'TOKEN_GITHUB' || 'TOKEN_NPM'] }}
        run: |
          PACKAGE="$(jq --arg name "${{ inputs.name }}" '.name = $name' package.json)"
          echo -E "${PACKAGE}" > package.json
          npm version --no-git-tag-version "v${{ inputs.version }}"
          npm publish
