name: npm-test

on:
  workflow_call:
    inputs:
      node-version:
        description: Node.js version
        required: false
        default: latest
        type: string

      os:
        description: Operating System
        required: false
        default: ubuntu-24.04
        type: string

      name:
        description: Job Name
        required: false
        type: string

      with-browsers:
        description: Run tests with browsers
        required: false
        default: false
        type: boolean

jobs:
  npm-test:
    timeout-minutes: 5

    name: ${{ inputs.name || format('test on node-{0} + {1}', inputs.node-version, inputs.os) || 'test-step' }}

    runs-on: ${{ inputs.os }}

    steps:
      - uses: actions/checkout@v6.0.1
        with:
          submodules: true

      - uses: ahmadnassri/action-dotenv@v1.0.4

      - uses: actions/setup-node@v4.4.0
        with:
          registry-url: https://npm.pkg.github.com
          node-version: ${{ inputs.node-version }}
          cache: npm

      - run: npx playwright install-deps
        if: ${{ inputs.with-browsers }}

      - run: npm ci --ignore-scripts
        env:
          NODE_AUTH_TOKEN: ${{ github.token }}

      - run: npm run test:ci
        env:
          WITH_BROWSERS: ${{ inputs.with-browsers }}
