name: semantic-release

on:
  workflow_call:
    outputs:
      published:
        description: true when release is successfully published
        value: ${{ jobs.semantic-release.outputs.published }}

      release-version:
        description: The version of the last release
        value: ${{ jobs.semantic-release.outputs.release-version }}

      release-version-major:
        description: last release version major component
        value: ${{ jobs.semantic-release.outputs.release-version-major }}

      release-version-minor:
        description: last release version minor component
        value: ${{ jobs.semantic-release.outputs.release-version-minor }}

      release-git-head:
        description: last release sha
        value: ${{ jobs.semantic-release.outputs.release-git-head }}

permissions:
  contents: write
  packages: write
  pull-requests: write

jobs:
  semantic-release:
    timeout-minutes: 5

    runs-on: ubuntu-latest

    outputs:
      published: ${{ steps.release.outputs.published }}
      release-version: ${{ steps.release.outputs.release-version }}
      release-version-major: ${{ steps.release.outputs.release-version-major }}
      release-version-minor: ${{ steps.release.outputs.release-version-minor }}
      release-git-head: ${{ steps.release.outputs.release-git-head }}

    steps:
      - uses: actions/checkout@v4.2.0

      - id: package
        name: Check for package.json
        run: echo "exists=$([[ -f "${{ github.workspace }}/package.json" ]] && echo true || echo false)" >> "$GITHUB_OUTPUT"

      - uses: actions/setup-node@v4.0.4
        if: ${{ steps.package.outputs.exists == 'true' }}
        with:
          cache: npm
          node-version: latest
          registry-url: https://npm.pkg.github.com

      - run: npm ci --ignore-scripts
        if: ${{ steps.package.outputs.exists == 'true' }}
        env:
          NODE_AUTH_TOKEN: ${{ github.token }}

      - id: release
        uses: ahmadnassri/action-semantic-release@v2.2.8
        with:
          config: ${{ github.workspace }}/.release.json
        env:
          GITHUB_TOKEN: ${{ github.token }}
