name: metadata

on:
  workflow_call:
    outputs:
      license_spdx_id:
        description: Repository license
        value: ${{ jobs.metadata.outputs.license_spdx_id }}

      repository_name:
        description: Repository name
        value: ${{ jobs.metadata.outputs.repository_name }}

      repository_description:
        description: Repository description
        value: ${{ jobs.metadata.outputs.repository_description }}

      repository_default_branch:
        description: Repository main/default branch
        value: ${{ jobs.metadata.outputs.repository_default_branch }}

      repository_is_template:
        description: Flag indicating if the repository is a template
        value: ${{ jobs.metadata.outputs.repository_is_template }}

permissions:
  contents: read

jobs:
  metadata:
    timeout-minutes: 5

    runs-on: ubuntu-latest

    outputs:
      license_spdx_id: ${{ steps.metadata.outputs.license_spdx_id }}
      repository_name: ${{ steps.metadata.outputs.repository_name }}
      repository_description: ${{ steps.metadata.outputs.repository_description }}
      repository_is_template: ${{ steps.metadata.outputs.repository_is_template }}
      repository_default_branch: ${{ steps.metadata.outputs.repository_default_branch }}

    steps:
      - uses: actions/checkout@v4.2.1

      - id: metadata
        uses: ahmadnassri/action-metadata@v2.1.2
